:host {
    background-color:#1E3D58;
    height:600px;
    width: 800px;
    color: white;
    font-family: 'TextMeOne';
    font-weight: 600;
    padding: 1.5rem;
    box-sizing: border-box;
    letter-spacing: 0.1rem;
    overflow-y: auto;
}
