<h2>NEW TODO</h2>
<form>
    <section>
        <div class="row">
            <label for="name" class="col-25">
                <span>YOUR NAME: </span>
            </label>
            <input type="text" id="name" name="username" class="col-75" autocomplete="off">
        </div>
        <div class="row">
            <label for="task" class="col-25">
                <span>TASK: </span>
            </label>
            <input type="text" id="task" name="task" class="col-75" autocomplete="off">
        </div>
        <div class="row">
            <label for="priority" class="col-25">
                <span>PRIORITY: </span>
            </label>
            <select id="priority" name="priority" class="col-75">
                <option value="high">HIGH</option>
                <option value="medium">MEDIUM</option>
                <option value="low">LOW</option>
            </select>
        </div>
        <div class="submit-row">
            <input type="submit" value="ADD NEW ITEM >>>">
        </div>
    </section>
</form>
