@font-face {
  font-family: 'TextMeOne';
  src: url('/assets/fonts/TextMeOne-Regular.ttf') format("truetype");
  font-weight:300;
}

html, body {
  margin: 0;
  height: 100%;
}

.select-button {
    width: 650px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    background-color:#057DCD;
    color:#E8EEF1;
    border: 2px solid #1E3D58;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.select-button:hover {
    background-color: #1E3D58;
    transition: 0.5s;
}

.select-button:active {
    background-color:#1E3D58;
    box-shadow: 0 5px 5px rgba(0,0,0,0.75);
    transform: translateY(4px);
    transition: 0.1s;
}
